@model i_blog.ViewModels.PostsIndex

@{
    ViewBag.Title = "Index";
}


<h1>Posts Index</h1>

<p>
    <a href="@Url.RouteUrl("login")">Click here</a> to login!
</p>

@{
    ViewBag.Title = "Posts";
}

@Html.Partial("_Posts", Model.Posts)